<div class="container about-container">
  <div class="top">
    <h1 class="main-title"><a href="#/">Knit the Bridge</a></h1>
  </div>
  <div class="about panel">

    <h2>What is Knit the Bridge, Pittsburgh?</h2>

    <p>Knit the Bridge is a grassroots, community-led arts project that brings the many diverse communities of Pittsburgh and Southwestern Pennsylvania together to create a large-scale, aesthetically stunning, fiberarts installation on the Andy Warhol/7th Street Bridge.  The installation will be on view <strong>from August 12th until September 6th, 2013</strong>.</p>

    <div class="img">
      <img src="http://knitthebridge.files.wordpress.com/2012/06/photo-4-e1345834621350.jpg?w=300&h=194">
    </div>
    
    <p>In conjunction with Fiberart International 2013, Knit the Bridge celebrates the history of Pittsburgh as a city of bridges and steel as well as the region’s thriving, contemporary arts scene. As accessible craft forms, these community-engaged fiberart traditions knit together strong, healthy, creative communities.</p>

    <h2>What is Yarn Bombing?</h2>

    <p>Coming out of the street art and contemporary craft movements, yarn bombing is a fun, bright, beautiful way to celebrate public space. Unlike graffiti, yarn bombing can be done without any damage to historic structures and is temporary and easily removable.</p>

    <div class="img">
      <img src="http://knitthebridge.files.wordpress.com/2012/07/titel.jpg" />
      <span class="img-description">Yarn Bombing of a tree</span>
    </div>

    <p>For more examples of yarn bombings, see our post on <a href="http://knitthebridge.wordpress.com/2012/08/02/yarn-bombing-fiber-installations-from-around-the-world/">fiber installations from around the world</a>.</p>

    <p class="thanks">Knit the Bridge would not have been possible without the support of County of Allegheny, and particularly the endorsement of County Executive Rich Fitzgerald and Allegheny County Council.  The Andy Warhol Bridge is owned by the County of Allegheny and it is through its generous support, cooperation and approval that we are able to provide this public art project which brings communities together, one bridge at a time.</p>
  </div>
  <div class="main-links">
    <div class="search">
      <form ng-submit="submit()">
        <input type="text" ng-model="search" name="search" placeholder="Enter an artist, location ID, or panel ID">
        <button type="submit" class="btn btn-main btn-search">Search</button>
      </form>
    </div>
    <div class="main-nav">
      <a class="btn btn-green btn-main" href="#/panels">Explore the Bridge</a>
    </div>
    <div class="footer">
      <a href="http://fiberartspgh.org/">Project of the Fiberarts Guild of Pittsburgh</a>
    </div>
  </div>
</div>