<div>
  <img ng-cloak ng-src="{{panel.image}}" />
  <ul>
    <li ng-cloak>Panel Id: {{panel.pnl_id | strip_panel_id}}</li>
    <li ng-cloak>Artists:</li>
      <ul>
        <li ng-cloak ng-repeat="artist in panel.artist_set">{{artist.name}}</li>
      </ul>
    <li ng-cloak>Location: {{panel.loc_id}}</li>
    <div ng-bind-html-unsafe="panel.loc_info"></div>
  </ul>
  <h2>Story</h2>
  <p ng-bind-html-unsafe="panel.story"></p>
</div>
<div id="disqus" class="disqus">
  <h2>Discussion</h2>
  <div ng-include="'partials/disqus'" id="disqus_thread" onload="loadDisqus(panel.pnl_id)"></div>
</div>
