<div class="container splash-container">
  <div class="top">
    <h1 class="main-title"><a href="#/">Knit the Bridge</a></h1>
    <div class="search">
      <form ng-submit="submit()">
        <input type="text" ng-model="search_input" placeholder="Enter an artist, location ID, or panel ID">
        <button type="submit" class="btn btn-main btn-search">Search</button>
      </form>
    </div>
  </div>
  <div class="main-links">
    <div class="main-nav">
      <a class="btn btn-green btn-main" href="#/panels">Explore the Bridge</a>
      <a class="btn btn-blue btn-main" href="#/about">About</a>
    </div>
    <div class="footer">
      <a href="http://fiberartspgh.org/">Project of the Fiberarts Guild of Pittsburgh</a>
    </div>
  </div>
</div>